#logo{
    width: 100px;
    height: 80px;
}
#button_nav{
    background-color: #FFC700;
}
#CARROSSEL{
    align-items: center;
    align-self: center;
    justify-content: center;
}
#video{
    width: 100%;
    height: 600px;
}
#carouselletra{
    color: #ffffff;
    background-color: #FFC700;
    border-color: black;
}
a:hover{
    cursor: pointer;
}
#foot{
    background-color: #212429;
}
#textob{
    color: white;
}
#loja{
    width: 200px;
}
#ftext{
    color: white;
}
#body{
    background-color: #212429;
}
#logof{
    width:96px;
    height: 111px;
}
#tittlequem{
    color: #FFC700;
}